@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import 'colors';
@import 'dashboard';
@import 'nav';
@import 'masonry';
@import 'fonts';
@import 'card';
@import 'modal';

html{
	background:$gray;
	
	#home ,#job{
		nav{
			background:transparent !important;
		}
	}
	
	header{
		.uk-inline{
			max-height: 500px;
			overflow: hidden;
			form{
				.uk-input{
					padding-left: 40px !important;
				}
			}
		}
	}
	.twitter-typeahead{
		width:100%;
		input.typeahead{
			//padding-left: 40px !important;
			width: inherit;
		}
		.tt-menu{
			width: inherit;
			.tt-dataset{
				width: inherit;
				.uk-dropdown{
					width:inherit;
					display:block;
				}
			}
			.uk-dropdown{
				width:inherit;
				display:block;
			}
		}
	}
}
