<div ng-include="'views/partials/_toolbar.html'"></div>
<section class="uk-padding-small">
	<ul uk-tab>
		<li><a href="#" class="uk-text-small">Account Details</a></li>
		<li><a href="#" class="uk-text-small">API</a></li>
	</ul>

	<ul class="uk-switcher uk-margin">
		<li>
			<form class="uk-form-horizontal uk-margin-large uk-width-1-2@l uk-width-1-2@m">

				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-text">First Name</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-horizontal-text" type="text" placeholder="First Name">
					</div>
				</div>
				
				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-text">Last Name</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-horizontal-text" type="text" placeholder="Last Name">
					</div>
				</div>
				
				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-text">Email</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-horizontal-text" type="email" placeholder="Email Address (Primary)" disabled>
					</div>
				</div>
				
				<hr>
				
				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-text">Phone Number</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-horizontal-text" type="tel" placeholder="Phone Number (Primary)">
					</div>
				</div>
				
				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-text">Address</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-horizontal-text" type="tel" placeholder="Phone Number (Primary)">
					</div>
				</div>
				
				<div class="uk-margin">
					<button class="uk-button uk-button-primary">Save</button>
				</div>
				
			</form>
		</li>
		<li>
			<div class="uk-margin">
				<form class="uk-search uk-search-default uk-width-1-1">
					<a href="" uk-search-icon></a>
					<input class="uk-search-input" type="search" placeholder="Search">
				</form>
			</div>
			<h2 class="uk-logo">Your Services</h2>
			<ul uk-accordion>
				<li ng-repeat="service in services">
					<h3 class="uk-accordion-title">{{ service.name }}</h3>
					<div class="uk-accordion-content">
						<p class="uk-text-small uk-text-muted">{{ service.description }}</p>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</section>
