<section class="uk-padding-small">
	<ul uk-tab>
		<li><a href="#">Account Details</a></li>
		<li><a href="#">API</a></li>
	</ul>

	<ul class="uk-switcher uk-margin">
		<li>
			<form class="uk-form-horizontal uk-margin-large uk-width-1-2@l uk-width-1-2@m">

				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-text">First Name</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-horizontal-text" type="text" placeholder="First Name">
					</div>
				</div>
				
				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-text">Last Name</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-horizontal-text" type="text" placeholder="Last Name">
					</div>
				</div>
				
				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-text">Email</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-horizontal-text" type="email" placeholder="Email Address (Primary)">
					</div>
				</div>
				
				<div class="uk-margin">
					<label class="uk-form-label" for="form-horizontal-text">Phone Number</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-horizontal-text" type="tel" placeholder="Phone Number (Primary)">
					</div>
				</div>
				
			</form>
		</li>
		<li>
			<table class="uk-table uk-table-justify uk-table-divider">
				<thead>
					<tr>
						<th>Client Key</th>
						<th>Client Secret</th>
						<th><button ng-click="generateKey()" class="uk-button uk-button-primary uk-button-small" type="button">Generate Key</button></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>59de267cec81f5589f7c0e76</td>
						<td>59de26907d18f7e2cff0c303</td>
						<td><button class="uk-button uk-button-danger uk-button-small" type="button" ng-click="deleteKey($index)">Delete Key</button></td>
					</tr>
				</tbody>
			</table>
		</li>
	</ul>
</section>
