<div ng-include="'views/partials/_toolbar.html'"></div>
<section class="uk-padding-small">
	<main class="uk-grid-small" uk-grid>
		<div ng-if="!coursesList.length" class="uk-placeholder uk-text-center uk-danger uk-text-muted uk-margin-remove uk-padding-small">
			<span class="uk-margin-small-right" uk-icon="ban"></span> {{ noCoursesMessage }}
		</div>
		<div class="uk-width-1-3@m" ng-repeat="course in coursesList">
			<div class="uk-card uk-card-default uk-card-hover">
				<div class="uk-card-header uk-clear-fix uk-padding-small">
					<a ng-href="#!/learning/course/{{ course.id }}" class="uk-button uk-button-text uk-align-left title uk-text-capitalize uk-text-bold uk-margin-remove">
						{{ course.name }}
					</a>
					<div class="uk-align-right">
						<ul class="uk-iconnav" uk-switcher="connect: .details-{{$index}}">
							<!-- <li><a href="#" class="uk-icon-link" uk-icon="icon: home"></a></li> -->
							<li><a href="#" class="uk-icon-link" uk-icon="icon: info"></a></li>
						</ul>
					</div>
				</div>
				<div class="uk-card-body uk-padding-small">
					<ul class="uk-switcher details-{{$index}} uk-margin">
						<li>
							<p class="uk-text-truncate">{{ course.description }}</p>
							<ul class="uk-list uk-list-divider">
								<li class="uk-clear-fix">
									<span class="uk-align-left uk-margin-remove">
									Students
									</span>
									<span class="uk-align-right uk-margin-remove">
									{{ course.registrations.length }}
									</span>
								</li>
								<li class="uk-clear-fix">
									<span class="uk-align-left uk-margin-remove">
									Class Average
									</span>
									<span class="uk-align-right uk-margin-remove">
									{{ courseAverage($index) }}
									</span>
								</li>
								<li class="uk-clear-fix">
									<span class="uk-align-left uk-margin-remove">
									Class Grade
									</span>
									<span class="uk-align-right uk-margin-remove uk-text-{{ courseGrade($index).className }}">
									{{ courseGrade($index).grade }}
									</span>
								</li>
							</ul>		
						</li>
					</ul>
				</div>
			</div>
		</div>
	</main>
</section>
