<div ng-include="'views/partials/_navbar.html'"></div>
<div class="uk-section uk-section">
	<div class="uk-container uk-width-1-2@l uk-width-2-3@m">
		<div class="uk-text-center">
			<img class="uk-border-circle" width="140" height="140" src="{{ profileData.image_url || 'https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png' }}" />
			<p class="uk-text-lead	uk-padding-bottom uk-text-capitalize">{{ profileData.fname }} {{ profileData.lname }}</p>		
		</div>

		<ul class="uk-flex-center" uk-tab uk-switcher>
			<li class="uk-active"><a href="#"><span class="uk-margin-small-right" uk-icon="icon: user"></span> <span>Bio</span></a></li>
			<li ng-if="profileData.activities"><a href="#"><span class="uk-margin-small-right" uk-icon="icon: commenting"></span> <span>Activity</span></a></li>
			<li ng-if="profileData.studentRecords"><a href="#"><span class="uk-margin-small-right" uk-icon="icon: list"></span> <span>Student Records</span></a></li>
		</ul>

		<ul class="uk-switcher uk-margin">
			<li>
				<div>
					<p class="uk-text-lead">Summary <a ng-if="auth.isAuthenticated()" class="uk-text-muted" ng-click="profileData.meta.resume.summary.edit = profileData.meta.resume.summary.edit ? false : true" uk-icon="pencil"></a></p>
					
					<article class="uk-comment uk-visible-toggle" ng-if="profileData.meta.resume.summary.value">
						<header class="uk-comment-header uk-position-relative uk-margin-remove">
							<div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" ng-click="">Edit</a></div>
						</header>
						<div class="uk-comment-body uk-margin-bottom" ng-bind-html="profileData.meta.resume.summary.value"></div>
					</article>
					
					<div ng-if="profileData.meta.resume.summary.edit && auth.isAuthenticated()">
						<form class="uk-grid-small uk-margin-bottom" uk-grid>
							<div class="uk-width-1-1">
								<div class="uk-inline uk-width-1-1">
									<textarea class="uk-textarea uk-width-1-1" rows="3" ng-model="newSummary" placeholder="Summary"></textarea>
								</div>
							</div>
						</form>
					
						<button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" ng-click="resume.addSummary(this,newSummary)">Add Summary</button>
					</div>
				</div>
				<div>
					<p class="uk-text-lead">Education <a ng-if="auth.isAuthenticated()" class="uk-text-muted" ng-click="profileData.meta.resume.education.edit = profileData.meta.resume.education.edit ? false : true" uk-icon="pencil"></a></p>
										
					<article class="uk-comment uk-visible-toggle" ng-repeat="(key,education) in profileData.meta.resume.education">
						<header class="uk-comment-header uk-position-relative">
							<div class="uk-grid-medium uk-flex-middle" uk-grid>
								<div class="uk-width-expand">
									<h4 class="uk-comment-title uk-margin-remove">{{ education.school }}<p class="uk-text-small uk-margin-remove">{{ education.qualification }}</p></h4>
									<p class="uk-comment-meta uk-margin-remove-top">{{ education.from | date : 'MMMM yyyy' }} - {{ education.to | date : 'MMMM yyyy' }}</p>
								</div>
							</div>
							<div class="uk-position-top-right uk-position-small uk-hidden-hover">
								<a class="uk-link-muted" ng-click="resume.edit(this,'education',key)">Edit</a>
								<a class="uk-link-danger" ng-click="resume.remove(this,'education',key)">Remove</a>
							</div>
						</header>
						<hr ng-if="profileData.meta.resume.education[key+1]">
					</article>
					
					<div ng-if="profileData.meta.resume.education.edit && auth.isAuthenticated()">
						<form class="uk-grid-small uk-margin-bottom" uk-grid>
							<div class="uk-width-1-1">
								<div class="uk-inline uk-width-1-1">
									<input class="uk-input uk-width-1-1 typeahead" type="text" ng-model="newEducation.qualification" placeholder="Qualification e.g Degree , Certificate" datasets="qualificationDataset" options="qualificationOptions" sf-typeahead>
									<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></span>
								</div>
							</div>
							<div class="uk-width-1-1">
								<div class="uk-inline uk-width-1-1">
									<input class="uk-input uk-width-1-1" type="text" ng-model="newEducation.school" placeholder="School" datasets="schoolsDataset" options="schoolsOptions" sf-typeahead>
									<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: location"></span>
								</div>
							</div>
							<div class="uk-width-1-2@s">
								<div class="uk-inline uk-width-1-1">
									<input class="uk-input uk-width-1-1" type="month" ng-model="newEducation.from" placeholder="Start Date">
									<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: calendar"></span>
								</div>
							</div>
							<div class="uk-width-1-2@s">
								<div class="uk-inline uk-width-1-1">
									<input class="uk-input uk-width-1-1" type="month" ng-model="newEducation.to" placeholder="Finish Date">
									<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: calendar"></span>
								</div>
							</div>
						</form>
						
						<button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" ng-click="resume.add(this,'education',newEducation)">Add Education</button>
					</div>
				</div>
				<div>
					<p class="uk-text-lead">Experience <a ng-if="auth.isAuthenticated()" class="uk-text-muted" ng-click="profileData.meta.resume.experience.edit = profileData.meta.resume.experience.edit ? false : true" uk-icon="pencil"></a></p>
					<article class="uk-comment uk-visible-toggle" ng-repeat="(key,experience) in profileData.meta.resume.experience">
						<header class="uk-comment-header uk-position-relative">
							<div class="uk-grid-medium uk-flex-middle" uk-grid>
								<div class="uk-width-expand">
									<h4 class="uk-comment-title uk-margin-remove">{{ experience.company }}<p class="uk-text-small uk-margin-remove">{{ experience.job }}</p></h4>
									<p class="uk-comment-meta uk-margin-remove-top">{{ experience.from | date : 'MMMM yyyy' }} - {{ experience.to | date : 'MMMM yyyy' }}</p>
								</div>
							</div>
							<div class="uk-position-top-right uk-position-small uk-hidden-hover">
								<a class="uk-link-muted" ng-click="resume.edit(this,'experience',key)">Edit</a>
								<a class="uk-link-danger" ng-click="resume.remove(this,'experience',key)">Remove</a>
							</div>
						</header>
						<hr ng-if="profileData.meta.resume.experience[key+1]">
					</article>
						
					<div ng-if="profileData.meta.resume.experience.edit && auth.isAuthenticated()">
				
						<form class="uk-grid-small uk-margin-bottom" uk-grid>
							<div class="uk-width-1-1">
								<div class="uk-inline uk-width-1-1">
									<input class="uk-input uk-width-1-1 typeahead" type="text" ng-model="newExperience.job" placeholder="Job Title" datasets="jobDataset" options="jobOptions" sf-typeahead>
									<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></span>
								</div>
							</div>
							<div class="uk-width-1-1">
								<div class="uk-inline uk-width-1-1">
									<input class="uk-input uk-width-1-1" type="text" ng-model="newExperience.company" placeholder="Company" datasets="companyDataset" options="companyOptions" sf-typeahead>
									<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: location"></span>
								</div>
							</div>
							<div class="uk-width-1-2@s">
								<div class="uk-inline uk-width-1-1">
									<input class="uk-input uk-width-1-1" type="month" ng-model="newExperience.from" placeholder="Start Date">
									<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: calendar"></span>
								</div>
							</div>
							<div class="uk-width-1-2@s">
								<div class="uk-inline uk-width-1-1">
									<input class="uk-input uk-width-1-1" type="month" ng-model="newExperience.to" placeholder="Finish Date">
									<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: calendar"></span>
								</div>
							</div>
						</form>
						<button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" ng-click="resume.add(this,'experience',newExperience)">Add Experience</button>
					</div>
				</div>
				<div>
					<p class="uk-text-lead">Skills <a ng-if="auth.isAuthenticated()" class="uk-text-muted" ng-click="profileData.meta.resume.skills.edit = profileData.meta.resume.skills.edit ? false : true" uk-icon="pencil"></a></p>
				</div>
			</li>
			<li ng-if="profileData.activities && auth.isAuthenticated()">
				<div class="">
					<ul class="uk-list">
						<li class="uk-clear-fix" ng-repeat="activity in profileData.activities.data" >
							<article class="uk-comment">
								<header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
									<div class="uk-width-auto">
										<img class="uk-comment-avatar" src="{{	activity.user.image	|| 'https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png' }}" width="50" height="50" alt="">
									</div>
									<div class="uk-width-expand">
										<h4 class="uk-comment-title uk-margin-remove uk-text-small"><a class="uk-link-reset uk-text-capitalize" href="#">{{ profileData.fname}}</a> {{	activity.meta.action.verb	}} <a ng-click="modal.modal({ type : 'full' , title  : activity.meta.subject.name , body : activity.meta.subject.description , image : activity.meta.subject.featuredImage },this)">{{	activity.meta.subject.type	}}</a></h4>
										<span class="uk-text-muted uk-text-small">12 days ago</span>
									</div>
								</header>
								<div class="uk-comment-body">
									<div class="uk-card uk-card-default">
										<div class="uk-card-media-top" ng-if="activity.meta.subject.featuredImage">
											<img src="{{ activity.meta.subject.featuredImage }}" alt="{{ activity.meta.subject.name }}" class="uk-width-1-1">
										</div>
										<div class="uk-card-header uk-padding-small">
											<div class="uk-grid-small uk-flex-middle" uk-grid>
												<div class="uk-width-expand">
													<p class="uk-text-capitalize uk-margin-remove-bottom">{{ activity.meta.subject.name }}</p>
												</div>
											</div>
										</div>
										<div class="uk-card-body uk-padding-small" ng-if="activity.meta.subject.description">
											<p class="uk-text-small">{{ activity.meta.subject.description }}</p>
										</div>
										<div class="uk-card-footer uk-padding-small">
											<ul class="uk-iconnav toolbar uk-padding-remove">
												<li><a href="#" uk-icon="icon: heart"></a></li>
												<li><a href="#" uk-icon="icon: comment"></a></li>
												<li><a href="#" uk-icon="icon: forward"></a></li>
											</ul>
										</div>
									</div>
								</div>
							</article>
						</li>
						<button ng-if="profileData.activities.next_page_url" ng-click="next(profileData.activities.current_page + 1)" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Load More</button>
					</ul>
				</div>
			</li>
			<li ng-if="profileData.studentRecords && auth.isAuthenticated()">Student Records</li>
		</ul>
	</div>
</div>
